In [1]:
%load_ext sql
%sql postgresql://postgres:HorusCrime@localhost:5432/Nthg

In [2]:
%%sql
select * from fuckk

 * postgresql://postgres:***@localhost:5432/Nthg
1 rows affected.

[(1, 'SwathiSushanth')]

In [4]:
from sqlalchemy import create_engine
import pandas as pd

# Load CSV
df = pd.read_csv(r'C:\Users\kssus\Dropbox\FuckkkOffff\Internship\online_sales_data.csv')

# Create SQLAlchemy engine
engine = create_engine('postgresql://postgres:HorusCrime@localhost:5432/Nthg')

# Load DataFrame into PostgreSQL
df.to_sql('internshiptask06', engine, index=False, if_exists='replace')

print("CSV data successfully loaded into 'InternshipTask06' table!")

CSV data successfully loaded into 'InternshipTask06' table!

In [ ]:
%%sql
SELECT * FROM "internshiptask04"
WHERE "Country" = 'United Kingdom';

 * postgresql://postgres:***@localhost:5432/Nthg
495478 rows affected.